In [1]:
import pandas as pd
import glob
import os

In [2]:
def create_fips_code(df):
    fips_code = []
    for i in range(df['statecode'].shape[0]):
        # combine the statecode and countycode to create the fips_code
        string = '{:d}{:03d}'.format(df['statecode'].iloc[i], df['countycode'].iloc[i])
        fips_code.append(int(string)) 
    return fips_code

In [3]:
# load all data into a single dataframe
data_dir = 'data/county health rankings'
file_wildcard = os.path.join(data_dir, '*.csv')
for i, filepath in enumerate(reversed(glob.glob(file_wildcard))):
    year = filepath.split('/')[-1].split('\\')[-1].split(' ')[0]
    print(i, filepath, year)
    
    # load the data
    data = pd.read_csv(filepath)
    # convert all columns to lower case
    data.columns = map(str.lower, data.columns)
    # calculate the fips_code and insert as 1st column
    data.insert(loc=0, column='fips_code', value=create_fips_code(data))
    # insert the year as the 2nd column
    data.insert(loc=1, column='year', value=year)
    #
    if i == 0:
        df = data
        orig_columns = data.columns
    else:
        df = pd.concat([df, data])
    print(data.shape)
    
print(df.shape)

NameError: name 'df' is not defined

In [4]:
# visual inspection. columns are sorted
df.head(3)

,5-digit fips code,access to exercise opportunities denominator,access to exercise opportunities lower confidence interval,access to exercise opportunities numerator,access to exercise opportunities upper confidence interval,access to exercise opportunities value,adult obesity denominator,adult obesity lower confidence interval,adult obesity numerator,adult obesity upper confidence interval,...,uninsured lower confidence interval,uninsured numerator,uninsured upper confidence interval,uninsured value,violent crime denominator,violent crime lower confidence interval,violent crime numerator,violent crime upper confidence interval,violent crime value,year
0,1000.0,NaN,NaN,NaN,NaN,0.628,3593587,NaN,1223286,NaN,...,0.138,567439.0,0.145,0.142,4835041.0,NaN,21082.0,NaN,436.03,2017
1,1001.0,NaN,NaN,NaN,NaN,0.708,39628,0.290,13513,0.393,...,0.096,5225.0,0.124,0.110,54698.0,NaN,145.0,NaN,265.70,2017
2,1003.0,NaN,NaN,NaN,NaN,0.722,147318,0.248,40365,0.305,...,0.147,25892.0,0.176,0.161,191291.0,NaN,415.0,NaN,216.77,2017

In [5]:
# visual inspection that the dataframe concat worked
target_columns = ['year', 'state', 'county', 'premature death value']
df2 = df[target_columns]
df2.head(3)

   year state          county  premature death value
0  2017    AL         Alabama                 9573.0
1  2017    AL  Autauga County                 9158.0
2  2017    AL  Baldwin County                 7394.0

In [6]:
# visual inspection that the dataframe concat worked
df2[df2['county'] == 'Autauga County']

   year state          county  premature death value
1  2017    AL  Autauga County                 9158.0
1  2016    AL  Autauga County                 9215.0
1  2015    AL  Autauga County                 8405.0
1  2014    AL  Autauga County                 8376.0